@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-theme-background: #0a0a0a;
  --color-theme-gray: #333;

  --font-sans: 'Geist', sans-serif;
}

